<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Tarea 1</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h1>Agregar actividades</h1>
        <div class="main-container" id="main-form">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul class="flashes">
                  {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}

            <form name="add_form" method="post" enctype="multipart/form-data">
                <h2>¿Dónde?</h2>

                <label for="select_region">Región</label>
                <select name="region_id" id="select_region" required>
                    <option value="">Seleccione una región</option>
                    {% for region in regiones %}
                      <option value="{{ region.id }}" {% if form_data.region_id == region.id|string %}selected{% endif %}>{{ region.nombre }}</option>
                    {% endfor %}
                </select><br>

                <select name="comuna_id" id="select_comuna" required>
                <option value="">Seleccione una comuna</option>
                    {% for comuna in comunas %}
                        <option value="{{ comuna.id }}" data-region-id="{{ comuna.region_id }}"
                        {% if form_data.comuna_id == comuna.id|string %}selected{% endif %}>
                        {{ comuna.nombre }}
                        </option>
                    {% endfor %}
                </select>

                <label for="input_sector">Sector</label>
                <input type="text" name="Sector" id="input_sector" maxlength="100" value="{{ form_data.Sector }}">

                <h2>¿Quién organiza?</h2>

                <label for="input_nombre">Nombre</label>
                <input type="text" name="Nombre" id="input_nombre" maxlength="200" required value="{{ form_data.Nombre }}">

                <label for="input_email">Email</label>
                <input type="email" name="Email" id="input_email" maxlength="100" required autocomplete="on" value="{{ form_data.Email }}">

                <label for="input_cellphone_number">Número de celular</label>
                <input type="text" name="Número de celular" id="input_cellphone_number" maxlength="13" value="{{ form_data['Número de celular'] }}">

                <!-- <label for="select_contact_means">Contactar por</label>
                <select name="Medio de contacto" id="select_contact_means">
                    <option value="">Seleccione un medio de contacto</option>
                    <option value="whatsapp" {% if form_data['Medio de contacto'] == 'whatsapp' %}selected{% endif %}>WhatsApp</option>
                    <option value="instagram" {% if form_data['Medio de contacto'] == 'instagram' %}selected{% endif %}>Instagram</option>
                    <option value="facebook" {% if form_data['Medio de contacto'] == 'facebook' %}selected{% endif %}>Facebook</option>
                    <option value="otro" {% if form_data['Medio de contacto'] == 'otro' %}selected{% endif %}>Otro</option>
                </select><br> -->

                <label for="select_contact_means">Contactar por</label>
                <select name="Medio de contacto" id="select_contact_means">
                    <option value="">Seleccione un medio de contacto</option>
                </select><br>

                <div id="contact-detail-container" style="display: none;">
                    <label for="contact_detail">ID de contacto o URL</label>
                    <input type="text" name="contact_detail" id="contact_detail" value="{{ form_data.contact_detail }}">
                </div>

                <h2>¿Cúndo y de qué trata?</h2>

                <label for="input_start_datetime">Día y hora de inicio</label>
                <!-- <input type="datetime-local" name="Día hora de inicio" id="input_start_datetime" value="{{ form_data['Día hora de inicio'] }}"> -->
                <input type="datetime-local" name="Día hora de inicio" id="input_start_datetime" value="{{ form_data['Día hora de inicio'] if form_data['Día hora de inicio'] else default_start }}">

                <label for="input_end_datetime">Día y hora de término</label>
                <!-- <input type="datetime-local" name="Día hora de término" id="input_end_datetime" value="{{ form_data['Día hora de término'] }}"> -->
                <input type="datetime-local" name="Día hora de término" id="input_end_datetime" value="{{ form_data['Día hora de término'] if form_data['Día hora de término'] else default_end }}">

                <label for="Comentario">Descripción:</label>
                <textarea id="Comentario" name="input_comentario" cols="50" rows="10">{{ form_data.input_comentario }}</textarea>

                <label for="tema">Tema:</label>
                <select id="tema" name="tema" required>
                    <option value="">Seleccione un tema</option>
                    {% for option in ['música', 'deporte', 'ciencias', 'religión', 'política', 'tecnología', 'juegos', 'baile', 'comida', 'otro'] %}
                      <option value="{{ option }}" {% if form_data.tema == option %}selected{% endif %}>{{ option.capitalize() }}</option>
                    {% endfor %}
                </select>

                <div id="otro-tema-container" style="display: none; margin-top: 10px;">
                    <label for="otro-tema">Describa el tema:</label>
                    <input type="text" id="otro-tema" name="otro-tema" maxlength="15" value="{{ form_data['otro-tema'] }}">
                </div>

            <!-- <div id="otro-tema-container" style="display: none; margin-top: 10px;">
                <label for="otro-tema">Describa el tema:</label>
                <input type="text" id="otro-tema" name="otro-tema" maxlength="15" value="{{ form_data['otro-tema'] }}">
            </div> -->

                <div id="image-inputs">
                    <div class="image-input">
                      <input type="file" name="image1" accept="image/*" required>
                      <button type="button" name="button1" onclick="showNextInput(1)">Agregar otra foto</button>
                    </div>
                  
                    <div class="image-input" style="display: none;">
                      <input type="file" name="image2" accept="image/*">
                      <button type="button" name="button2" onclick="showNextInput(2)">Agregar otra foto</button>
                    </div>
                  
                    <div class="image-input" style="display: none;">
                      <input type="file" name="image3" accept="image/*">
                      <button type="button" name="button3" onclick="showNextInput(3)">Agregar otra foto</button>
                    </div>
                  
                    <div class="image-input" style="display: none;">
                      <input type="file" name="image4" accept="image/*">
                      <button type="button" name="button4" onclick="showNextInput(4)">Agregar otra foto</button>
                    </div>
                  
                    <div class="image-input" style="display: none;">
                      <input type="file" name="image5" accept="image/*">
                    </div>
                </div>

                <button type="submit" id="confirmar-btn">Agregar esta actividad</button>
            </form>
        </div>

        <div id="confirmacion-container" style="display: none;">
            <p>¿Está seguro que desea agregar esta actividad?</p>
            <button id="confirmar-si">Sí, estoy seguro</button>
            <button id="confirmar-no">No, no estoy seguro, quiero volver al formulario</button>
        </div>

        <div id="mensaje-final" style="display: none;">
            <p>Hemos recibido su información, muchas gracias y suerte en su actividad</p>
            <button onclick="window.location.href='../html/home.html'">Volver</button>
        </div>

        <script src="{{ url_for('static', filename='js/social_net.js') }}"></script>
        <script src="{{ url_for('static', filename='js/agregar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/validations.js') }}"></script>
    </body>
</html>
