<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estadísticas de Actividades</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <h1>Estadísticas de Actividades</h1>

  <section>
    <h2>Actividades por Día</h2>
    <img src="{{ url_for('static', filename = 'free_imgs/grafico_linea_actividades_dia.png')}}" alt="Gráfico de Actividades por Día" width="600">
  </section>

  <section>
    <h2>Actividades por Tipo</h2>
    <img src="{{ url_for('static', filename = 'free_imgs/grafico_torta_tipos.png')}}" alt="Gráfico de Actividades por Tipo" width="600">
  </section>

  <section>
    <h2>Actividades por Horario y Mes</h2>
    <img src="{{ url_for('static', filename = 'free_imgs/grafico_barras_horarios.png')}}" alt="Gráfico de Actividades por Horario" width="600">
  </section>

  <footer>
    <button class="boton" onclick="window.location.href='/'">Volver a la portada</button>
  </footer>
</body>
</html>