<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Listado de Actividades</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/listado_styles.css') }}">
</head>
<body>

  <h1>Listado de Actividades</h1>

  <div id="listado"></div>

  <div id="detalle" class="detalle"></div>

  <div id="fotoModal" class="foto-grande">
    <img id="fotoGrande" src= "{{ url_for('static', filename = 'free_imgs/foto1a.jpg')}}" alt="Foto grande">
    <br>
    <button class="boton" onclick="cerrarFoto()">Cerrar</button>
  </div>

  <script>
    const actividadesjson = {{ actividades | tojson }};
    const fotosjson = {{fotos | tojson}};
    const temasjson = {{temas | tojson}};
    const comunasjson= {{comunas | tojson}};
  </script>
  <script src="{{ url_for('static', filename='js/listado.js') }}"></script>
</body>
</html>
